
/*this is header section*/
.header-container{
    height: 100%;
}
.nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
 }
 .nav h3{
 font-size: 20px;
 }
#logo{
    width: 94px;
}
.home{
    display: flex;
    gap: 40px;
}
.search-icon{
    display: flex;
    gap: 20px;
}
.cart{
    border-left: 1px solid black;
    margin-top: 15px;
    padding-left: 20px;
}
.right-search-icon{
    display: flex;
    gap: 60px;
    border:0px solid #ADADAD;
    box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 0px;
    padding: 0px 20px;
}

/*this is banner section*/

.banner-container{
    display: flex;
    margin-top: 50px;
}

.part-1{
    width: 40%;}

.delivery{
    display: flex;
    justify-content: space-between;
    border: 1px solid wheat;
    background-color: #F5DDC4;
    border-radius: 30px;
    padding-left: 20px;
    width: 50%;
    margin-top: 50px;
}
.banner-title h1 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 50px 0px;}

.banner-desc{
    font-size: 10px;
    }
.banner-addi{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.order{
    border-radius: 0%;
    margin-top: 10px;
}


.part-2{
    width: 20%;  
}


.part-3{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
 }
.food{
    width: 225px; height: 275px; position: relative; border-radius: 10px;
    } 
 .food-desc{
        width: 200px; height: 220px; text-align: center; margin: 0px; position: absolute; top: 100px; padding-top: 80px;
        border-radius: 20px; z-index: 50;box-shadow: 0px 0px 31px 0px #0000000D;
     }
 .food-pic{
        width: 100%; height: 200px; position: absolute; right: 10px; z-index: 30;
     }
   
/*header section end */


/* this is query section */

@media only screen and (min-width: 200px) and (max-width: 576px){

    .container {
       padding: 0px 10px;
   }
    .nav  {
    display: flex;
    gap: 20px;
   }
   .home{
    gap: 10px;
   }
   #logo{
    width: 70px;
   }
   .banner-addi{
    display: flex;
    flex-direction: column;
   
   }
   .part-2{
    display: none;
   }
    .part-3 {
    row-gap: 30px;
     grid-template-columns: repeat(1,1fr);
   } 

    .food-pic {
    width:100% ;
   }
   .banner-container{
    display: flex;
    gap: 100px;
    
   }
    .banner-title h1 {
    font-size: 30px;
   }
}

